body{
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}
#login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #111b21;
    position: relative;
}
.login-header{
    height: 222px;
    background-color: #00a884;
}
.login-header-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 10% 0 10%;
    gap:15px;
    color:#fff;
}
.login-header-title > svg{
    width: 40px;
}
.login-header-title > p{
    margin:0;
    font-weight: 300;
}
.login-header-title > p > span{
    font-weight: 600;
}
.login-body{
    color:#41525d;
    position: absolute;
    background-color: #fff;
    width: 80%;
    height: 85%;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    border-radius:5px;
    box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%), 0 12px 15px 0 rgb(11 20 26 / 24%);
    display: flex;
    flex-direction: row;
}
.login-hero{
    width: 55%;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.login-hero > svg{
    width: 100%;
}
.login-card{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 45%;
    gap:40px;
}
.login-card > p{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    font-weight: 400;

}
.login-keywords{
    font-weight: 600;
}
.login-link{
    color:#008069;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}
.login-form > input{
    border-radius: 7px;
    border: 1px solid #41525d;
    outline: none;
    width: 80%;
    padding: 5px;
}
.login-form > label{
    font-size: 16px;
}
.login-form > button{
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #008069;
    color:#fff;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#main{
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    width: 100%,
}
#sidebar{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#sideInfo{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
#sideChatInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#sideChatCreator{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.contact-list{
    overflow-y: scroll;
    max-height: 100vh;
}
.contact-list::-webkit-scrollbar {
    display: none;
}
.empty-contact-list{
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    color: #8696a0;
}
.empty-contact-list > span{
    max-width: 75%;
}
.arrow-icon{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.arrow-icon > svg{
    height:25px;
}
.sideChatInfo-user-icon > svg{
    height: 150px;
}

.nav{
    width: 100%;
    height: 59px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #ffff;
    background-color: #008069;
}
.nav.side{
    max-height: 108px;
    justify-content: start;
    color: #fff;
    font-size: 10px;
    padding-top: 45px;
    width: 100%;
}
.nav.side >h1{
    font-weight: 600;
}
.user-icon{
    height: 70%; 
    margin-left: 10px;  
    cursor: pointer;
}
.chat-icon{
    height: 30px;  
    margin-right: 10px; 
    color:#f0f2f5;
    cursor: pointer;
}
svg{
    height:100%;
}
#search{
    height: 39px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-shrink: 0;
}
#searchContacts{
    height: 39px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-shrink: 0;
}
.search-bar{
    background-color: #f0f2f5;
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search-bar.side{
    width: 100%;
    height: 33px;
}
.search-icon{
    color: #54656f;
    cursor: pointer;
}
.search-icon{
    height: 14px;
}
.search-bar > input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 70%;
}
.search-filter-icon{
    color:#8696a0;
    padding-left: 5%;
    cursor: pointer;
}
.search-filter-icon > svg{
    width: 20px;
}
.chat-list{
    overflow-y: scroll;
    height: 100vh;
}
.chat-list::-webkit-scrollbar {
    display: none;
}
.chat-label{
    display: flex;
    flex-direction: row;
    height: 72px;
    width: 100%;
    cursor: pointer;
}
.chat-label:hover{
    background-color: #f0f2f5;
}
.chat-label-icon{
    height: 100%; 
    display: flex;
    justify-content: center;
    padding: 0 3% 0 3%;
}
.chat-label-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3% 0 3% 0;
    border-bottom: 0.1rem solid #e9edef;
    transition: all .5s;
}
.chat-label-content.side{
    color:#008069;
    font-size: 18px;
    padding-left: 25px;
}
.chat-label-icon > svg{
    width: 55px;
}
.chat-label-content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 1%;
}
.chat-label-content-header .firstEl{
    font-weight: 400;
    font-size: 18px;
}
.chat-label-content-header .secondEl{
    font-weight: 300;
    font-size: 14px;
}
.chat-label-content-sub{
    padding: 0 5% 0 0;
    color:#667781;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7% 0 1%;
}
.chat-label-content-sub-info{
    display: flex;
    flex-direction: row;
    gap:5px;
    transition: all .5s;
}
.chat-label-content-sub-info > svg{
    cursor: pointer;
    color:#8696a0;
}
.chat-label-notif{
    background-color: #25d366;
    width: 20px;
    border-radius: 100px;
    justify-content: space-around;
    display: flex;
    color: white;
}
#chat{
    width: 100%;
}
.active-chat{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.active-chat-head{
    height: 59px;
    width: 100%;
    position: absolute;
    background-color: #008069;
    color:#f0f2f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.active-chat-head-user{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}
.active-chat-head-user > svg{
    height: 45px;
    margin-right: 10px;
}
.active-chat-head-info{
    display: flex;
    flex-direction: column;
}
.active-chat-head-info > .firstEl{
    font-weight: 500;
    font-size: 18px;
}
.active-chat-head-info > .secondEl{
    font-weight: 300;
    font-size: 14px;
}
.active-chat-head-search{
    padding-right: 25px;
    height: 20px;
    cursor: pointer;
}
.active-chat-body{
    height: 100%;
    gap:10px;
    background-color: #ffff;
    padding: 75px 30px 75px 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}
.active-chat-body::-webkit-scrollbar {
    display: none;
}
.message-row{
    width: 100%;
}
.message{
    display: flex;
}
.innerTail{
    height: 10px;
    color: #fff;
}
.outerTail{
    height: 10px;
    color: #d9fdd3;
}
.message-content{
    color:#111b21;
    display: flex;
    flex-direction: row;
    padding: 2px 10px 5px 10px;
}
.message-content > .text{
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.message-content > .text > svg{
    width: 25px;
}
.message-content-details{
    display: flex;
    flex-direction: column;
}
.message-content-details > span{
    text-align: end;
    cursor: pointer;
    color: #8696a0;
}
.message-content-details > .time{
    font-weight: 300;
    font-size: 13px;
    color: #667781;
    display: flex;
    flex-direction: column-reverse;
}
.message-content-details > span > svg{
    width: 13px;
}
.active-chat-bottom{
    min-height: 62px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.active-chat-bottom > span{
    margin-right: 40px;
}
.active-chat-bottom-textbar{
    margin-left: 40px;
    width:50vw;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.active-chat-bottom-textbar > input{
    outline: none;
    border: none;
    width: 100%;
}
.empty-chat{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty-chat-content{
    color:#3b4a54;
}
.empty-chat-content > h1{
    font-weight: 400;
}
.empty-chat-content > p{
    color: #667781;
    margin: 0;
    font-weight: 300;
}
.empty-chat-img{
    width: 360px;
    height: 270px;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}